body {
  background-color: #111;
}

main {
  width: 800px;
  height: 100%;
  overflow: hidden;
}

.txt-left {
  text-align: left;
}

p {
  margin: 0;
}

.select:hover {
  animation: select 0.8s ease-in-out infinite alternate;
}

@keyframes select {
  0% { background: rgba(255, 255, 255, 0.2); }
  100% { background: rgba(255, 255, 255, 0);  }
}
